*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 10px 0;
    background-image: url("../img/fundo-topo.jpg");
}
header h1{
    margin: 0;
    height: 84px;
}

nav{
    padding: 15px 0;
    text-align: center;
}

nav li{
display: inline;
background-image: url("../img/patinha-preta.png");
background-repeat: no-repeat;
background-position: center right;
padding-right: 27px;
margin-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: #6dd432;
}

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

.fundo-verde{
    background-color: #bdff9c;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container .col{
    width: 430px;
}

div .col img{
    border-radius: 10px;
}

.flex-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.produto{
    width: 235px;

}

.produto figure{
    border: solid 1px #c4c4c4;
    background-color: #ffff;
    margin: 0 0 15px 0;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px; /* pega por completo*/
    align-items: center;
    border-radius: 5px;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d3fbbd;
    display: inline-block;
    padding: 10px 74px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

